<div class="courses">
  <div><h2>Native Graphql</h2></div>
  <span>Course id:</span><input class="margin-left" #courseId type="number" />
  <button
    (click)="getCourseById(+courseId.value)"
    mat-button
    class="example-label"
    class="margin-left"
  >
    Show Course
  </button>
  <hr />
  <span>Course id:</span
  ><input class="margin-left" #topicCourseId type="number" />
  <span class="margin-left">Topic:</span
  ><input class="margin-left" #courseTopic type="text" />
  <button
    (click)="updateTopic(+topicCourseId.value, courseTopic.value)"
    mat-button
    class="example-label"
    class="margin-left"
  >
    Change
  </button>
  <div *ngIf="course" class="courses single-course">
    <div *ngIf="course.id">
      <hr />
      <h2>Course</h2>
      <p>id: {{ course.id }}</p>
      <p>url: {{ course.url }}</p>
      <p>title: {{ course.title }}</p>
      <p>topic: {{ course.topic }}</p>
    </div>
  </div>

  <hr />
  <h2>Course Posts</h2>
  <div *ngFor="let post of posts" class="course">
    <div>
      <h2>Course</h2>
      <p>id: {{ post.id }}</p>
      <p>url: {{ post.url }}</p>
      <p>title: {{ post.title }}</p>
      <p>topic: {{ post.topic }}</p>
    </div>
  </div>
  <div class="more-wrapper">
    <button mat-button class="example-label" (click)="fetchMore()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
